<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstAndroidApp">
        <activity android:name=".TravelActivity"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".DatetimeActivity">

        </activity>
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".CapitalActivity" />
        <activity android:name=".CountryCapitalActivity" />
        <activity android:name=".AdditionActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".ClassActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".DashboardActivity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>